<!-- templates/base.html -->
<html>
  <head>
    <title>Django blog</title>
  </head>
  <body>
    <header>
      <h1><a href="{% url 'home' %}">Программа тестирования студентов МФ МГТУ им. Баумана</a></h1>
    </header>
    <div>
      {% if user.is_authenticated %}
        <p>Привет, {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>

      {% else %} 
        <p>Вы не прошли авторизацию.</p>
        <a href="{% url 'login' %}">Авторизация</a>
        <a href="{% url 'signup' %}">Регистрация</a>
      {% endif %}
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>